
body{
 background-color: white; 
}

.App {
  text-align: center;
  background-color: white;
  
}

.page_title{
  font-size: 2rem;
}

.btn_style{

  background-color: white;
  border-radius: 5px;
  height: fit-content;
  padding: 5px;

}

.movie_thumbnail{

  width:233.703px;
  height: 348.217px;
}

.fit_content{
  width: fit-content;
  height: fit-content;
}

.div_dimensions{

  width: 233.7px;
  height: 109px;
  overflow: auto;
  padding: 5px;
}


.modal_background{

  position: fixed;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  
}

.modal_content{

  margin-left: 300px;
  margin-top: 100px;
  background-color: white;
  height: fit-content;
  width: 700px;
  position: relative;

}

.modal_image{

  width: 270px;
  height: 402.3px;
}

.bi.bi-x{
  position: absolute;
  top: 84px;
  right: 263px;
  background-color: none;
}

